In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import sklearn.preprocessing
import warnings

%matplotlib inline
sns.set_style("darkgrid")
warnings.filterwarnings("ignore")

In [7]:
df  = pd.read_csv('madrid_2018.csv')

In [8]:
df.head()

,date,BEN,CH4,CO,EBE,NMHC,NO,NO_2,NOx,O_3,PM10,PM25,SO_2,TCH,TOL,station
0,2018-03-01 01:00:00,NaN,NaN,0.3,NaN,NaN,1.0,29.0,31.0,NaN,NaN,NaN,2.0,NaN,NaN,28079004
1,2018-03-01 01:00:00,0.5,1.39,0.3,0.2,0.02,6.0,40.0,49.0,52.0,5.0,4.0,3.0,1.41,0.8,28079008
2,2018-03-01 01:00:00,0.4,NaN,NaN,0.2,NaN,4.0,41.0,47.0,NaN,NaN,NaN,NaN,NaN,1.1,28079011
3,2018-03-01 01:00:00,NaN,NaN,0.3,NaN,NaN,1.0,35.0,37.0,54.0,NaN,NaN,NaN,NaN,NaN,28079016
4,2018-03-01 01:00:00,NaN,NaN,NaN,NaN,NaN,1.0,27.0,29.0,49.0,NaN,NaN,3.0,NaN,NaN,28079017

In [9]:
df.isnull().sum()

date           0
BEN        52146
CH4        60656
CO         40498
EBE        52147
NMHC       60656
NO           270
NO_2         270
NOx          270
O_3        29047
PM10       32185
PM25       50184
SO_2       40510
TCH        60656
TOL        52146
station        0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69096 entries, 0 to 69095
Data columns (total 16 columns):
date       69096 non-null object
BEN        16950 non-null float64
CH4        8440 non-null float64
CO         28598 non-null float64
EBE        16949 non-null float64
NMHC       8440 non-null float64
NO         68826 non-null float64
NO_2       68826 non-null float64
NOx        68826 non-null float64
O_3        40049 non-null float64
PM10       36911 non-null float64
PM25       18912 non-null float64
SO_2       28586 non-null float64
TCH        8440 non-null float64
TOL        16950 non-null float64
station    69096 non-null int64
dtypes: float64(14), int64(1), object(1)
memory usage: 8.4+ MB